<form id='delWord' action='/delword' method='POST'>
	<div onclick='delclose()'>x</div>
	<fieldset form='delWord' name='delWord'>
		<legend>Deletar a palavra?</legend>
		<input id='wordId' type='text' name='username' readonly>
		<input id='wordSlain'type='text' name='slain' readonly>
		<div><button type='submit'>DELETAR</button></div>
	</fieldset>
</form>