<div id='menu'>
	<nav id="navbar">
		<ul id="nav">
			<li><span>THOTH's Tabern</span></li>
			<li><img src='./img/header.png'></li>
			<!-- <li><a href="/">IDENTIFIQUE-SE</a></li> -->
		</ul>
	</nav>
</div>