<form id='newWord' action='/newWord' method='POST'>
	<fieldset form='newWord' name='newWord'>
		<legend>Nova palavra</legend>
		<input id='wordId' type='text' name='user' readonly>
		<input class='input' autocomplete='none' type='text' name='word' placeholder='Insira Nova Palavra' required>
		<div><button type='submit'>ADICIONAR</button></div>
	</fieldset>
</form>