<div id='registerBox'>
	<div>
		<h1>Cadastre-se</h1>
	</div>
	<div>
		<form id='register' action='/register' method='POST'>
			<fieldset form='register' name='register'>
				<legend>Registre sua conta</legend>
					<div>
						<label for='user'>Username</label>
						<input class='input' minlength='1' maxlength='8' autocomplete='auto' type='text' name='user' placeholder='username'>
						<label for='user'>Nome</label>
						<input class='input' autocomplete='auto' minlength='1' maxlength='10' type='text' name='name' placeholder='seu primeiro nome'>
						<label for='pw'>Senha</label>
						<input class='input' minlength='1' autocomplete='current-password' type='password' name='pw' placeholder='*****' required>
					</div>
					<div>
						<button type='submit'>Registrar</button>
					</div>
			</fieldset>
		</form>
	</div>
	<div class='change' onclick="change('l')">
		<span>Login</span>
	</div>
</div>