<div id='user_update'>
	<form id='update_user' action='/updateprofile' method='POST'>
		<fieldset form='update_user' name='update_user'>
			<legend>Atualize seu cadastro</legend>
				<div>
					<label for='user'>USERNAME</label>
					<input class='inputup' id='user' type='text' name='user' placeholder='' readonly>
					<label for='name'>NOME</label>
					<input class='inputup' id='name' type='text' name='name' placeholder='yourname'>
					<label for='img'>IMAGEM</label>
					<input class='inputup' id='img' type='text' name='img' placeholder='username'>
					<label for='pw'>SENHA</label>
					<input class='inputup' id='pw' type='password' name='pw' placeholder='*****'>
				</div>
					<button type='submit'>Atualizar</button>
				</div>
		</fieldset>
	</form>
</div>
