<div id='user_detalhes'>
	<div>
		<img id='details_img' src="" alt="profile">
		<div id='left'>
			<h1 id='details_id'>
			</h1>
			<h2 id='details_username'>
			</h2>
			<h3 id='details_name'>
			</h3>
		</div>
	</div>
	<div>
		<h2 id='details_pts'>
		</h2>
		<div id='details_words'>
		</div>
	</div>
	<div onclick="cProfile('c')">
		<span>CONFIGURAÇÕES</span>
	</div>
</div>
<%- include("./delWordConfirm.ejs") %>
