<div id='users_info' onclick="showUser('c')">
	<div>
		<div>
			<img id='users_img' src="" alt="profile">
			<div>
				<span id='users_username'></span></br>
				<span id='users_name'></span>
			</div>
			<span id='users_pts'></span>
		</div>
		<div>
			<div id='users_words'>
			</div>
		</div>
	</div>
</div>
