<!DOCTYPE html>
<html lang='en' translate='no'>
	<head>
		<title>Thot's tabern</title>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/img/icon.png'>
		<link rel='stylesheet' href='/css/style.css'>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body id='loading_page'>
		<img src='img/loading.gif'>
		<h1>CARREGANDO</h1>
	</body>
	<script src='/js/scripts.js'></script>
	<script type='text/javascript'>
		let novoUser = <%= novo %>;
		let current = <%- cookie %>; 
		current = JSON.stringify(current);
		localStorage.setItem('user', current );
		redirect(novoUser);
	</script>
</html>