<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Thot's tabern</title>
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/img/icon.png'>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<section id='panel'>
				<div id='profile'>
					<a id='link_profile' href='/profile'><div id='userPanel'>
						<span id='title_user'></span>
						<img id='title_img'src=''>
					</div></a>
					<%- include("./partials/score.ejs") %>
					<div id='words'>
						<% list.forEach((i) => {%>
						<span><%= i %></span>
						<% })%>
					</div>
				</div>
				<div id='game'>
					
				</div>
			</section>
		</main>
		<%- include("./partials/footer.ejs") %>
		<script type='text/javascript'> 
			let user = JSON.parse(localStorage.getItem('user'));
			document.onreadystatechange = function () {
				if (document.readyState === 'complete') {
					switch(user){
						case null:
							document.getElementById('title_user').innerText = 'convidado';
							document.getElementById('title_img').src = 'img/profile_pictures/default.png';
							document.getElementById('link_profile').href = '/';
							break;
						default:
							document.getElementById('title_user').innerText = user.username;
							document.getElementById('title_img').src = user.img;
							break;
					};
				};
			};
		</script>
		<script src='/js/scripts.js'></script>
	</body>
</html>