<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Thot's tabern || Profile</title>
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/img/icon.png'>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<div id='user_detalhes'>
				<div>
					<img id='details_img' src="" alt="profile">
					<div>
						<h1 id='details_id'>
							id
						</h1>
						<h2 id='details_username'>
							username
						</h2>
						<h3 id='details_name'>
							name
						</h3>
					</div>
				</div>
				<div>
					<h2 id='details_pts'>
						pontuação
					</h2>
					<div id='details_words'>
						<span>Suas palavras</span>
					</div>
				</div>
				<div>
					<span>Alterar usuário</span>
				</div>
			</div>
			<%- include("./partials/userUpdate.ejs") %>
		</main>
		<%- include("./partials/footer.ejs") %>
		<script type='text/javascript'>
			let user = JSON.parse(localStorage.getItem('user'));
			document.onreadystatechange = function () {
				if (document.readyState === 'complete') {
					updatedetails(user);
				};
			};	
		</script>
		<script src='/js/scripts.js'></script>
	</body>
</html>