@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@media (orientation: portrait){
	html{
		font-size: 1vh;
	}
}
@media (orientation: landscape){
	html{
		font-size: 0.7vw;
	}
}

html{
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

body{
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
body#loading_page{
	height: 100vh;
    align-items: center;
    justify-content: center;
}
body#loading_page>a{
	height: 25%;
    aspect-ratio: 1;
}

header{
	width: 100%;
	height: 15vh;
	background: #95cfb7;
}
header>div{
	height: 100%;
	width: 95%;
	display: flex;
}
header>div>div{
	height: 100%;
	width: 45%;
	display: flex;
}

main{
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

section{
	width: 100%;
	height: 50%;
	background-color: #f2f2f2;
}
section,section#usersPanel>div,section#usersPanel>div>div,div#oldUsers,footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
section#wb{
	font-size: 2.5rem;
}
section#wb>div{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#wb>div>div{
	width: 90%;
	min-height: 10%;
	font-weight: 700;
}
section#wb>div>div:nth-child(2){
	height: 60%;
	max-width: 350px;
	font-weight: 400;
}
section#panel{
	height: 100%;
	width: 100%;
	gap: 1%;
}
section#usersPanel>div,section#usersPanel>div>div{
	width: 95%;
	height: 95%;
}
section#usersPanel>div>div{
	flex-direction: column;
	border-radius: 2rem;
	background: #e5e5e5;
	box-shadow: inset 0 0 0.8rem #afafaf, 0 0 1rem #a9a9a9;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
section#usersPanel>div>div:hover{
	transform: scale(1.05);
}
section#usersPanel>div>div>div{
	display: flex;
	flex-direction: row;
	align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
section#usersPanel>div>div>div::-webkit-scrollbar {
	width: 1rem;
	background: rgba(190, 190, 190, 0.1);
	border-radius: 10rem;
}

form#login,form#register{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	box-shadow: inset 0 0 0.8rem #5f5f5f, 0 0 1.5rem #e0e0e0;
}
form#login>fieldset,form#register>fieldset{
	height: 90%;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
}
form#login>fieldset>div,form#register>fieldset>div{
	height: 85%;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1.5rem;
}
form#login>fieldset>div>div,form#register>fieldset>div>div{
	height: 20%;
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    justify-content: space-between;
}
form#login>fieldset>div>div>div,form#register>fieldset>div>div>div{
	display: flex;
    align-items: center;
}
form#update_user {
	height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form#update_user>fieldset {
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
	gap: 2%;
}
form#update_user>fieldset>legend {
	font-size: 5rem;
	font-weight: 700;
}
form#update_user>fieldset>button {
	border: none;
	background: #95cfb7;
	height: 10%;
	width: 40%;
	border-radius: 2rem;
}
form#update_user>fieldset>div {
	height: 80%;
	width: 90%;
	background: #f2f2f2;
	display: flex;
	flex-direction: column;
	border-radius: 3rem;
	align-items: center;
	justify-content: space-evenly;
}
form#update_user>fieldset>div>label {
	height: 10%;
	width: 50%;
	font-size: 3rem;
	text-decoration: underline;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

a#link_profile{
	text-decoration: none;
	color: black
}

h2#details_pts {
	height: fit-content;
    width: 80%;
    text-align: center;
    font-size: 5rem;
}

button#signin{
	height: 30%;
	width: 30%;
	border: none;
	border-radius: 1rem;
	background-color: #dadada;
	font-size: 1rem;
	
}
button#signin:hover{
	transform: scale(0.95);
}

div#dash{
	height: 75%;
	width: 10%;
	background: cyan;
	display: flex;
}
div#details_words>span {
	font-size: 5rem;
	height: fit-content;
	text-shadow: 0 0 2.5rem black;
	text-decoration: underline;
}
div#details_words::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(90, 90, 90, 0.5);
}
div#dot{
	height: 30%;
	width: 20%;
	background: fuchsia;
	display: flex;
}
div#game{
	height: 95%;
	width: 70%;
	background: blueviolet;
}
div#logoff {
	height: 5%;
	display: flex;width: 50%;
	margin: 2%;
	box-shadow: 0 0 1rem 1rem white, inset 0 0 2rem 0.5rem black;
	align-items: center;
	justify-content: center;
	border-radius: 10rem;
	font-size: 2rem;
	cursor: pointer;
	user-select: none;
}
div#lr{
	height: 40%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
div#lr>div{
	height: 75%;
	width: 30%;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 0.56rem #7d7d7d, 0 0 0.7rem #a9a9a9;
	-webkit-box-shadow: inset 0 0 0.56rem #7d7d7d, 0 0 0.7rem #a9a9a9;
	-webkit-transition: transform 0.840s, -webkit-box-shadow 0.840s, box-shadow 0.840s;
	transition: transform 0.840s, -webkit-box-shadow 0.840, box-shadow 0.840s;
	cursor: pointer;
	user-select: none;
}
div#lr>div:hover{
	transform: scale(1.03);
	box-shadow: inset 0 0 3rem #7d7d7d, 0 0 0.7rem #a9a9a9;
}
div#menu{
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: row;
}
div#oU{
	height: 89.5%;
	width: 99%;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #f6f6f6;
	border-radius: 0 0 2rem 2rem;
}
div#oUH{
	height: 9.5%;
	width: 99%;
	background: #f2f2f2;
	border-radius: 2rem 2rem 0 0;
	justify-content: space-between;
	padding: 0% 5%;
}
div#oUH>h1{
	height: 60%;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	
}
div#profile{
	height: 95%;
	width: 25%;
	min-width: 125px;
	/* background: brown; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1% 0%;
}
div#profile>a {
    height: 45%;
    width: 95%;
}
div#registerBox,div#loginBox{
	display: none;
}
div#score{
	height: 20%;
    width: 95%;
    /* background: cornflowerblue; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
div#score>div{
	height: 90%;
	width: 48%;
	background: white;
box-shadow: 0 0 1rem black;border-radius: 1rem;}
div#scoreNames{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: 5%;
	padding: 3% 0%;
	overflow: auto;
}
div#scoreNames::-webkit-scrollbar {
  width: 0.8rem;
  background: rgba(90, 90, 90, 0.7);
  border-radius: 10rem;
}
div#scoreNames>div{
	height: 4rem;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0 0 1rem #9a9a9a, 0 0 2rem #1f1f1f;
	color: #afafaf;
	border-radius: 2rem;
	transition: transform 0.840s;
	cursor: pointer;
}
div#scoreNames>div:nth-child(1){
	border-radius: 0.5rem;
	background-color: #3f3f3f;
}
div#scoreNames>div:nth-child(2){
	color: gold;
}
div#scoreNames>div:nth-child(3){
	color: silver;
}
div#scoreNames>div:nth-child(4){
	color: burlywood;
}
div#scoreNames>div:hover {
	height: fit-content;
	width: 95%;
	font-size: 2.3rem;
	border-radius: 0.5rem;
	background-color: #3f3f3f;
	z-index: 1;
	padding: 2%;
}
div#user_detalhes {
	position: relative;
	height: 100%;
	width: 100%;
	background: #f1f1f1;
	display: none;
	align-items: center;
	justify-content: space-around;
}
div#user_detalhes>div {
    height: 80%;
    width: 45%;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	text-shadow: 0 0 3rem black;
	box-shadow: inset 0 0 1rem #5f5f5f, 0 0 0.5rem #3a3a3a;
}
div#user_detalhes>div:nth-child(3){
    position: absolute;
	height: 8%;
    width: 15%;
    top: 1%;
    right: 1%;
    border-radius: 1.5rem;
    font-size: 2rem;
	box-shadow: inset 0 0 2rem #131313, 0 0 1.2rem #171717;
	-webkit-box-shadow: inset 0 0 2rem #131313, 0 0 1.2rem #171717;
	-webkit-transition: transform 0.840s, -webkit-box-shadow 0.840s, box-shadow 0.840s;
	transition: transform 0.840s, -webkit-box-shadow 0.840, box-shadow 0.840s;
	cursor: pointer;
	user-select: none;
}
div#lr>div:hover{
	transform: scale(1.03);
	box-shadow: inset 0 0 3rem #7d7d7d, 0 0 0.7rem #a9a9a9;
}
div#user_detalhes>div>div {
	height: 40%;
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: 3rem;
	overflow-y: auto;
    overflow-x: overlay;
}
div#userPanel {
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: space-around;
    font-size: 5rem;
}
div#userPanel>img {
    max-width: 95%;
    max-height: 75%;
    aspect-ratio: 1;
    border-radius: 4rem;
}
div#user_update {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#wbBox{
	display: flex;
}
div#words {
	width: 100%;
    height: 30%;
	min-width: 123px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
	gap: 6%;
	padding: 0.5%;
	box-shadow: 0 0 1rem #313131, inset 0 0 1rem #a2a2a2;
	border-radius: 4rem;
}
div#words>span:hover {
	font-size: 3rem;
}
div#words::-webkit-scrollbar {
  width: 0.1rem;
  background: rgba(255, 255, 255, 0.2);
}
div#words>span {
	height: fit-content;
	width: 20%;
	background: white;
	font-size: 1.5rem;
	min-width: 120px;
	/* max-height: 20px; */
	text-transform: capitalize;
	/* text-shadow: -0.1rem 0.2rem #5f5f5f; */
	box-shadow: inset 0 0 2.5rem #5f5f5f, 0 0 0.5rem #3a3a3a;
	border-radius: 2rem;
}

img#details_img {
	max-width: 85%;
	max-height: 50%;
	aspect-ratio: 1;
	border-radius: 5rem;
	border: ridge 0.4rem #0f0a1a;
}

.change{
	cursor: pointer;
	user-select: none;
}
.input{
	height: 20%;
	width: 70%;
	border: none;
	border-radius: 2rem;
	padding: 0% 2%;
	font-size: 1.5rem;
}
.inputup {
	height: 10%;
	width: 80%;
	border: none;
	border-radius: 2rem;
	padding: 0% 5%;
	font-size: 2rem;
}
.user{
	height: 40%;
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-weight: 700;
	font-style: italic;
	font-size: 2rem;
	-webkit-transition: transform 0.420s;
	transition: transform 0.420s;
}
.user:hover{
	transform: scale(1.1);
}
.user>img{
	max-height: 80%;
	aspect-ratio: 1;
	border-radius: 5vh;
}

footer{
	width: 100%;
	height: 5vh;
	background: #95cfb7;
	font-size: 2.5rem;
	-webkit-transition: transform 0.840s;
}
footer>a{
	color: black;
	transition: transform 0.840s;
}
footer>a:hover{
	transform: scale(1.1);
}