@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@media (orientation: portrait){
	html{
		font-size: 1vh;
	}
}
@media (orientation: landscape){
	html{
		font-size: 0.7vw;
	}
}

@keyframes alert{
	from{
		transform: scale(0.6);
	}
	to{
		transform: scale(1);
	}
}
@keyframes users{
	from{
		transform: scale(0);
		height: 1%;
		width: 1%;
	}
	to{
		transform: scale(1);
		height: 75%;
		width: 90%;
	}
}

html{
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

body{
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
body#loading_page{
	height: 100vh;
    align-items: center;
    justify-content: center;
}
body#loading_page>a{
	height: 25%;
    aspect-ratio: 1;
}

header{
	width: 100%;
	height: 15vh;
	background: #54786A;
}
header>div{
	height: 100%;
	width: 95%;
	display: flex;
}
header>div>div{
	height: 100%;
	width: 45%;
	display: flex;
}

main{
	position: relative;
	background-image: url(../img/bg.png);
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section{
	width: 100%;
	height: 50%;
}
section,section#usersPanel>div,section#usersPanel>div>div,div#oldUsers,footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
section#dare{
	flex-direction: column;
	justify-content: space-around;
}
section#panel{
	height: 100%;
	width: 100%;
	gap: 1%;
	padding: 1%;
	background: transparent;
}
section#progress {
	justify-content: space-around;
}
section#usersPanel>div,section#usersPanel>div>div{
	width: 95%;
	height: 95%;
}
section#usersPanel>div>div{
	flex-direction: column;
	justify-content: space-between;
	border-radius: 2rem;
	background: rgba(200,200,200,0.5);
	justify-content: space-between;
	box-shadow: inset 0 0 0.8rem #afafaf, 0 0 1rem #a9a9a9;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
section#usersPanel>div>div:hover{
	transform: scale(1.05);
}
section#usersPanel>div>div>div{
	display: flex;
	flex-direction: row;
	align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
section#wb{
	font-size: 2.5rem;
}
section#wb>div{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section#wb>div>div{
	width: 90%;
	min-height: fit-content;
	font-weight: 700;
}
section#wb>div>div:nth-child(2){
	height: 70%;
	max-width: 350px;
	font-weight: 400;
}
section#wb>div>div>span{
	height: fit-content;
	width: fit-content;
	padding: 0.1rem 1rem;
	background: rgba(240,240,240,0.7);
	border-radius: 2rem;
	box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	cursor: pointer;
}
section#wb span:hover{
	transform: scale(1.05);
}

form#input,div#status{
	background: rgba(200,200,200,0.5);
	height: 50%;
	width: 30%;
	min-width: 15rem;
	border-radius: 3rem;
	box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
form#input>fieldset{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	border: none;
}
form#input>fieldset>input{
	width: 8rem;
	aspect-ratio: 1;
	font-size: 5rem;
	font-weight: bolder;
	font-variant: small-caps;
	text-shadow: 0 0 2rem black;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	border-radius: 3rem;
	background: rgba(220,220,219,0.7);
	padding: 1%;
	margin: 0.2rem;
	box-shadow: 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: 0 0 1rem 0.5rem #797979;
}
form#input>fieldset>button{
	width: 4rem;
	color: white;
	aspect-ratio: 1;
	border-radius: 3rem;
	border: none;
	box-shadow: inset 0 0 2rem 0.3rem #adadad, 0 0 1rem 0.6rem #797979;
	-webkit-box-shadow: inset 0 0 2rem 0.3rem #adadad, 0 0 1rem 0.6rem #797979;
}
form#login,form#register{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	background: rgba(200,200,200,0.4);
	box-shadow: inset 0 0 0.8rem #5f5f5f, 0 0 1.5rem #e0e0e0;
}
form#login>fieldset,form#register>fieldset{
	height: 100%;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
}
form#login>fieldset>div,form#register>fieldset>div{
	height: 80%;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1.5rem;
	margin: 0.1rem 0rem;
}
form#login>fieldset>div:nth-child(3),form#register>fieldset>div:nth-child(3){
	height: 30%;
}
form#login>fieldset>div>div,form#register>fieldset>div>div{
	height: 20%;
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    justify-content: space-between;
}
form#login>fieldset>div>div>div,form#register>fieldset>div>div>div{
	display: flex;
    align-items: center;
}
form#login button, form#register button{
	height: 70%;
	width: 50%;
	border-radius: 2rem;
	border: none;
	box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
}
form#login button:hover, form#register button:hover{
	transform: scale(0.95);
}
form#newWord{
	height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
}
form#newWord>fieldset{
	height: 100%;
    width: 100%;
    display: flex;
    padding: 1%;
	flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
	border: none;
}
form#newWord>fieldset>input{
	height: 3rem;
	width: 75%;
	padding: 1% 10%;
	margin: 1% 0%;
	border: solid 1px;
	background: #f1f1ff;
}
form#newWord>fieldset>input#wordId{
	display: none;
}
form#newWord>fieldset>div{
	height: fit-content;
	width: 25vw;
	padding: 0.1rem 1rem;
	box-shadow: inset 0 0 1rem 1rem #7d7d7d, 0 0 2rem 1rem #a9a9a9;
	-webkit-box-shadow: inset 0 0 1rem 1rem #7d7d7d, 0 0 2rem 1rem #a9a9a9;
	background: #f1f1ff;
	border-radius: 2rem;
}
form#newWord>fieldset>div:hover{
	transform: scale(1.05);
}
form#newWord>fieldset button{
	border: none;
	background: transparent;
	cursor: pointer;
}
form#update_user{
	height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form#update_user>fieldset{
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
	gap: 2%;
	cursor: pointer;
}
form#update_user>fieldset>legend{
	font-size: 5rem;
	font-weight: 700;
}
form#update_user>fieldset>button{
	border: none;
	height: 10%;
	width: 40%;
	border-radius: 2rem;
	cursor: pointer;
}
form#update_user>fieldset>div{
	height: 80%;
	width: 90%;
	display: flex;
	flex-direction: column;
	border-radius: 3rem;
	align-items: center;
	justify-content: space-evenly;
}
form#update_user>fieldset>div>label{
	height: 10%;
	width: 50%;
	font-size: 3rem;
	text-decoration: underline;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
form#delete{
	height:85%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1%;
	gap: 1%;
}
form#delete>fieldset{
	height: 80%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	border: none;
}
form#delete>fieldset>div{
	height: 30%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: clip;
    overflow-y: auto;
    font-size: 2rem;
    flex-wrap: wrap;
	gap: 5%;
}
form#delete button{
    cursor: pointer;
    height: 15%;
    width: 40%;
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0 0 1rem 7px #9a9a9a, 0 0 1rem 3px #ffffff;
}
form#delWord{
	position: absolute;
	right: 5%;
	bottom: 15%;
	background: #f1f1f1;
	height: fit-content;
	width: fit-content;
	display: none;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 1rem 2rem;
	border-radius: 4rem;
	cursor: pointer;
}
form#delWord input#wordId{
	display: none;
	cursor: pointer;
}
form#delWord>div{
	background: #f1f1f1;
	font-size: 2rem;
	height: fit-content;
	aspect-ratio: 1;
	border-radius: 5rem;
	cursor: pointer;
}
form#delWord>fieldset{
	border: none;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1%;
	padding: 1%;
	cursor: pointer;
	font-size:2rem;
}
form#delWord>fieldset>div{
	margin: 2%;
	cursor: pointer;
}
form#delWord>fieldset button{
	background: transparent;
	border-radius: 2rem;
	height: fit-content;
	width: fit-content;
	padding: 5%;
	cursor: pointer;
}

div#allPlayers{
	height: 30%;
	width: 100%;
	display: flex;
	background: rgba(200,200,200,0.4);
	flex-direction: column;
	box-shadow: inset 0 0 1rem #b3b3b3, 0 0 1rem #525252;
	border-radius: 2rem;
	align-items: center;
	justify-content: space-between;
}
div#clue>span {
	font-size: 4rem;
	font-style: oblique;
	font-variant: petite-caps;
	font-weight: 700;
	text-decoration: underline;
	text-transform: capitalize;
	padding: 0.5rem;
	cursor:default;
}
div#dash{
	height: 75%;
	aspect-ratio: 5;
	background: #a0a0a0;
	border-radius: 1rem;
}
div#clue {
	height: fit-content;
	width: fit-content;
	padding: 0.5rem 1rem;
	background: rgba(200,200,200,0.4);
	border-radius: 3rem 3rem 1rem 1rem;
	box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 1rem #797979;
	-webkit-box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 1rem #797979;
}
div#deletepopup{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: rgba(200,200,200,0.5);
}
div#deletepopup>div{
	height: 40%;
    width: 75%;
    display: flex;
    flex-direction: column;
    background: rgba(230,230,230,0.8);
    align-items: center;
    justify-content: space-evenly;
	border-radius: 10rem;
	font-size: 3rem;
	cursor: pointer;
}
div#deletepopup>div>img{
    max-width: 15%;
	max-height: 15%;
    aspect-ratio: 1;
	animation: alert 1s cubic-bezier(0.67, 0.25, 0, 1.13) infinite alternate;
}
div#desistir{
	height: fit-content;
	width: 40%;
	box-shadow: inset 0 0 2rem 3rem #f1f1f1, 0 0 1rem 1rem #525252;
}
div#details_words span{
	height: fit-content;
	text-shadow: 0 0 2.5rem black;
	text-decoration: underline;
	cursor: pointer;
}
div#dot{
	height: 80%;
	aspect-ratio: 1;
	background: #d2d2d2;
	border-radius: 1rem;
}
div#game{
	height: 95%;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
div#handler{
	width: 95%;
	height: 75%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
div#init{
	width: 30vw;
	height: fit-content;
	border-radius: 4rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 1rem 1rem #7d7d7d, 0 0 2rem 1rem #a9a9a9;
	-webkit-box-shadow: inset 0 0 1rem 1rem #7d7d7d, 0 0 2rem 1rem #a9a9a9;
	-webkit-transition: transform 0.840s, -webkit-box-shadow 0.840s, box-shadow 0.840s;
	transition: transform 0.840s, -webkit-box-shadow 0.840, box-shadow 0.840s;
	cursor: pointer;
	user-select: none;
}
div#init:hover{
	transform: scale(1.1);
	box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
}
div#logoff{
	height: 5%;
	display: flex;
	width: 50%;
	margin: 2%;
	box-shadow: 0 0 1rem 1rem #5f5f5f, inset 0 0 2rem 0.5rem #979797;
	align-items: center;
	justify-content: center;
	border-radius: 10rem;
	font-size: 2rem;
	cursor: pointer;
	user-select: none;
}
div#lr{
	height: 40%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
div#lr>div{
	height: 75%;
	width: 30%;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 0.56rem #7d7d7d, 0 0 0.7rem #a9a9a9;
	-webkit-box-shadow: inset 0 0 0.56rem #7d7d7d, 0 0 0.7rem #a9a9a9;
	-webkit-transition: transform 0.840s, -webkit-box-shadow 0.840s, box-shadow 0.840s;
	transition: transform 0.840s, -webkit-box-shadow 0.840, box-shadow 0.840s;
	cursor: pointer;
	background: rgba(200,200,200,0.6);
	user-select: none;
}
div#lr>div:hover{
	transform: scale(1.03);
	box-shadow: inset 0 0 3rem #7d7d7d, 0 0 0.7rem #a9a9a9;
}
div#menu{
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: row;
}
div#mini{
	height: 90%;
    width: 95%;
    padding: 3% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
}
div#miss{
	margin: 0.5rem;
	padding: 0.2rem 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 0.3rem;
}
div#oU{
	height: 89.5%;
	width: 99%;
	justify-content: space-around;
	flex-wrap: wrap;
	background: rgba(200,200,200,0.5);
	border-radius: 0 0 2rem 2rem;
}
div#oUH{
	min-height: fit-content;
	height: 10%;
	width: 100%;
	background: #B2B2B2;
	border-radius: 2rem 2rem 0 0;
	justify-content: space-between;
	padding: 0% 5%;
}
div#oUH>h1{
	height: fit-content;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;	
}
div#play{
	height: 30%;
	width: 100%;
	background: rgba(230,230,230,0.5);
	width: 75%;
	box-shadow: 0 0 1rem #313131, inset 0 0 1rem #a2a2a2;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
div#play>div{
	height: 90%;
	width: 90%;
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0 0 1rem 4px #313131, inset 0 0 1rem #525252;
	border-radius: 2rem;
	gap: 5%;
}
div#profile{
	height: 100%;
	width: 30%;
	min-width: 125px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(220,220,220,0.5);
	border-radius: 5rem;
	padding: 1% 0%;
	box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 0.5rem #797979;
}
div#profile>a{
    height: 70%;
    width: 95%;
}
div#registerBox,div#loginBox{
	display: none;
}
div#result{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(200,200,200,0.5);
	animation: alert 2s cubic-bezier(0.05, -0.95, 0, 1.5) forwards;
}
div#score{
	height: 40%;
    width: 95%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	overflow-x: clip;
    overflow-y: auto;
}
div#score>div{
	height: 90%;
	width: 95%;
	box-shadow: 0 0 1rem black;
	border-radius: 1rem;
}
div#scoreNames{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: 5%;
	padding: 3% 0%;
	overflow: auto;
}
div#scoreNames::-webkit-scrollbar,section#usersPanel>div>div>div::-webkit-scrollbar,div#details_words::-webkit-scrollbar,div#mini::-webkit-scrollbar,div#users_info>div>div::-webkit-scrollbar,div#words::-webkit-scrollbar,div#user_detalhes>div>div::-webkit-scrollbar{
	width: 0rem;
	background: rgba(90, 90, 90, 0);
	border-radius: 10rem;
}
div#scoreNames>div{
	height: 4rem;
	width: 90%;
	background: rgba(200,200,200,0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0 0 1rem #9a9a9a, 0 0 2rem #1f1f1f;
	color: #eeeeee;
	border-radius: 2rem;
	transition: transform 0.840s;
	cursor: pointer;
}
div#scoreNames>div:nth-child(1){
	height: fit-content;
	border-radius: 0.5rem;
	background-color: #afafaf;
	font-size: 2rem;
}
div#scoreNames>div:nth-child(2){
	color: gold;
}
div#scoreNames>div:nth-child(3){
	color: silver;
}
div#scoreNames>div:nth-child(4){
	color: burlywood;
}
div#scoreNames>div:hover{
	height: fit-content;
	width: 95%;
	font-size: 2.3rem;
	border-radius: 0.5rem;
	background-color: #3f3f3f;
	z-index: 1;
	padding: 2%;
}
div#status>div {
	height: fit-content;
	width: 80%;
	font-size: 2.5rem;
	font-weight: 700;
	text-shadow: -2px 2px 0.3rem #f1f1f1;
}
div#user_detalhes{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
div#user_detalhes>div{
    height: 80%;
    width: 45%;
    padding: 5% 0%;
    display: flex;
    background: rgb(200,200,200,0.2);
	flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	text-shadow: 0 0 3rem black;
	box-shadow: inset 0 0 1rem 0.5rem #5f5f5f, 0 0 0.5rem 0.8rem #3a3a3a;
	border-radius: 10rem 10rem 3rem 3rem;
}
div#user_detalhes>div:nth-child(3),div#backbtn,div#deletebtn{
    position: absolute;
	height: 8%;
    width: fit-content;
	display: flex;
	align-items: center;
    justify-content: center;
	background: rgba(200,200,200, 0.5);
	padding: 1% 0.8rem;
    top: -10%;
    right: 5%;
    border-radius: 1.5rem;
    font-size: 2rem;
	box-shadow: inset 0 0 2rem #131313, 0 0 1.2rem #171717;
	-webkit-box-shadow: inset 0 0 2rem #131313, 0 0 1.2rem #171717;
	-webkit-transition: transform 0.840s, -webkit-box-shadow 0.840s, box-shadow 0.840s;
	transition: transform 0.840s, -webkit-box-shadow 0.840, box-shadow 0.840s;
	cursor: pointer;
	user-select: none;
}
div#user_detalhes>div>div#left{
    height: 40%;
    justify-content: space-evenly;
}
div#user_detalhes>div>div{
	height: 70%;
	width: 85%;
	background: rgb(200,200,200,0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: 3rem;
	overflow-y: auto;
    overflow-x: overlay;
	box-shadow: inset 0 0 1.2rem 0.5rem #979797;
	-webkit-box-shadow: inset 0 0 1.2rem 0.5rem #979797;
	border-radius: 6rem;
}
div#deletebtn{
	top: 90%;
}
div#users_info{
	position: absolute;
	background: rgba(245,245,245,0.5);
	height: 100%;
	width: 100%;
	z-index: 3;
	display: none;
	justify-content: center;
    align-items: center;
	box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
}
div#users_info>div{
	position: absolute;
	background: rgba(245,245,245,1);
	height: 0%;
	width: 0%;
	z-index: 4;
	animation: users 1s cubic-bezier(0, -0.9, 1, 1.3) forwards;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
	box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 1rem #adadad, 0 0 1rem 0.5rem #797979;
	cursor: cursor;
}
div#users_info>div>div{
	height: 80%;
    width: 40%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	overflow-x: clip;
	overflow-y: auto;
}
div#users_info>div>div>div{
	height: fit-content;
	width: 100%;
}
div#users_info span{
	font-size: 2rem;
}
div#userPanel{
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
    font-size: 3rem;
	gap: 10%;
}
div#userPanel>div{
	height: 30%;
	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 5%;
}
div#userPanel>div>span{
	width: fit-content;
	font-size: 2rem;
	text-decoration: underline;
	text-decoration-style: dotted;
	background: rgba(200,200,200, 0.8);
	box-shadow: inset 0 0 1rem #010101, 0 0 1rem #6f6f6f;
	border-radius: 1rem;
	padding: 10% 30%;
}
div#userPanel>div>span#title_user{
	box-shadow: none;
	font-size: 5rem;
	background: transparent;
}
div#userPanel>img{
    max-width: 95%;
    max-height: 45%;
    aspect-ratio: 1;
    border-radius: 4rem;
}
div#user_update{
	position: relative;
	height: 100%;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}
div#wbBox{
	display: flex;
}
div#word{
	font-size: 4rem;
	display: flex;
	gap: 2%;
	height: fit-content;
	min-height: 20rem;
	width: 95%;
	background: rgba(200,200,200,0.5);
	border-radius: 4rem;
	padding: 1rem 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	flex-direction: row;
	box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 1rem #797979;
	-webkit-box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 1rem #797979;}
div#words{
	width: 100%;
    height: 30%;
	min-width: 123px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
	gap: 0.5rem;
	padding: 0.5%;
	box-shadow: 0 0 1rem #313131, inset 0 0 1rem #a2a2a2;
	border-radius: 4rem;
	cursor: pointer;
	background: rgba(200,200,200,0.2);
}
div#words>span:hover{
	font-size: 3rem;
}
div#words>span{
	height: fit-content;
	width: fit-content;
	background: rgba(230,230,230,0.7);
	font-size: 1.5rem;
	padding: 0.3rem 1rem;
	text-transform: capitalize;
	box-shadow: inset 0 0 1rem #5f5f5f, 0 0 0.5rem #3a3a3a;
	border-radius: 2rem;
}

.change{
	cursor: pointer;
	user-select: none;
}
.input{
	height: 20%;
	width: 70%;
	border: none;
	border-radius: 2rem;
	padding: 0% 2%;
	font-size: 1.5rem;
}
.inputdel{
	height: 45%;
	width: 40%;
	padding: 1% 5%;
	border: none;
	border-radius: 2rem;
	text-align: center;
}
.inputup{
	height: 10%;
	width: 80%;
	border: none;
	border-radius: 2rem;
	padding: 0% 5%;
	font-size: 2rem;
}
.user{
	height: 40%;
}
.mini_user{
	width: 8rem;
}
.miss {
	font-size: 3rem;
	width: 5rem;
	aspect-ratio: 1;
	background: rgba(255,255,255,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4rem;
	box-shadow: inset 0 0 2rem 1rem #adadad, 0 0 2rem 0.5rem #797979;
	-webkit-box-shadow: inset 0 0 1rem 0.5rem #f1f1f1, 0 0 0.5rem 0.5rem #797979;
	text-shadow: -0.1rem 0.2rem 0.3rem #f1f1f1;
	text-transform: capitalize;
}
.user,.mini_user{
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-weight: 700;
	font-style: italic;
	font-size: 2rem;
	-webkit-transition: transform 0.420s;
	transition: transform 0.420s;
	cursor: pointer;
}
.user:hover,.mini_user:hover{
	transform: scale(1.1);
}
.user>img,.mini_user>img{
	max-height: 80%;
	aspect-ratio: 1;
	border-radius: 5vh;
}
.word{
	width: 5rem;
	aspect-ratio: 1;
	margin: 0.3rem 0rem;
	background: rgba(220,220,220,0.5);
	font-variant: small-caps;
	border-bottom-style: groove;
	border-width: 0.8rem;
	border-radius: 0.5rem 0.5rem 1rem 1rem;
	text-shadow: 0rem 0.2rem 0.7rem #424242;
	box-shadow: 0 0 1.3rem 0rem rgba(0,0, 0, 0.5);
}
.word_special{
	width: 2rem;
	aspect-ratio: 1;
}
.letters{
	display: none;
	justify-content: center;
	text-align: center;
	animation: alert 2s cubic-bezier(0.05, -0.95, 0, 1.5) forwards;
}

button#signin{
	height: 30%;
	width: 30%;
	border: none;
	border-radius: 1rem;
	font-size: 1rem;
}
button#signin:hover{
	transform: scale(0.95);
}

a#link_profile{
	text-decoration: none;
	color: black;
}

img#details_img{
	max-width: 85%;
	max-height: 50%;
	aspect-ratio: 1;
	border-radius: 5rem;
	border: ridge 0.4rem #0f0a1a;
}
img#users_img{
	max-height: 75%;
	max-width: 90%;
}

input#wordSlain{
	border: none;
	text-align: center;
	padding: 2%;
	background: #f1f1f1;
	cursor: pointer;
}

h1#details_id{
	font-size: 1.5rem;
}

h2#details_pts{
	height: fit-content;
    width: 80%;
    text-align: center;
    font-size: 5rem;
}

footer{
	width: 100%;
	height: 5vh;
	background: #54786A;
	font-size: 2.5rem;
	-webkit-transition: transform 0.840s;
}
footer>a{
	color: black;
	transition: transform 0.840s;
}
footer>a:hover{
	transform: scale(1.1);
}




